// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/mixins/';
html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Coiny', cursive; */
    box-sizing: border-box;
}

header {
    margin-bottom: 45px;
    height: 100%;
}

.carousel {
    top: 76px !important;
}

header .carousel-inner .carousel-item {
    text-align: center;
    height: 60vh;
}

header .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-caption {
    padding: 3em 0;
}

.carousel-caption h2 {
    text-transform: uppercase;
}

.carousel-control-prev {
    background-image: none;
}

.carousel-control-next {
    background-image: none;
}

.dmenu:hover>.sm-menu {
    display: block;
}


/* News Card */

#news {
    .card img {
        height: 150px;
        width: 100%;
    }
    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    .card {
        transition: 0.5s;
        // cursor: pointer;
    }
    .card-title {
        font-size: 18px;
        transition: 1s;
        // cursor: pointer;
    }
    .card:hover {
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .card-text {
        // height: 80px;
    }
    /* .card::before,
    .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }
    .card::before {
        transform-origin: left top;
    }
    .card::after {
        transform-origin: right bottom;
    }
    .card:hover::before,
    .card:hover::after,
    .card:focus::before,
    .card:focus::after {
        transform: scale3d(1, 1, 1);
    } */
}


/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    h5 {
        padding-left: 10px;
        border-left: 3px solid #eeeeee;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }
    a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
    ul {
        &.social li {
            padding: 3px 0;
            a {
                color: #ffffff;
            }
            a i {
                margin-right: 5px;
                font-size: 25px;
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;
            }
            a:hover {
                color: #eeeeee;
            }
            &:hover {
                a i {
                    font-size: 30px;
                    margin-top: -10px;
                }
            }
        }
        &.quick-links li {
            padding: 3px 0;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
            a {
                color: #ffffff;
                i {
                    margin-right: 5px;
                }
            }
            &:hover {
                padding: 3px 0;
                margin-left: 5px;
                font-weight: 700;
                a i {
                    font-weight: 700;
                }
            }
        }
    }
}


/* Footer end */

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    /* .carousel-caption {
        font-size: 1rem;

    }
    .carousel-caption h3 {
        font-size: 1em;
    } */
}


/* remove the dotted outline on focus from everything */

:focus {
    outline: none !important;
}

$font-primary: 'Poppins',
Arial,
sans-serif;
$primary: #2f89fc;
body {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fff;
    color: lighten($black, 50%);
}

a {
    transition: .3s all ease;
    color: $primary;
    &:hover,
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none;
    }
}

button {
    transition: .3s all ease;
    &:hover,
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: $font-primary;
    color: $black;
}

//COVER BG
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

//SIDEBAR
.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #32373d;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    .h6 {
        color: $white;
    }
    &.active {
        margin-left: -300px;
        // .custom-menu {
        //     margin-right: -50px;
        // }
        // .btn {
        //     &.btn-primary {
        //         &:before {
        //             content: "\f054";
        //             font-family: "FontAwesome";
        //             left: 2px !important;
        //         }
        //         &:after {
        //             display: none;
        //         }
        //     }
        // }
    }
    h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
        .logo {
            color: $white;
            display: block;
            padding: 10px 30px;
            background: $primary;
        }
    }
    ul.components {
        padding: 0;
    }
    ul {
        li {
            font-size: 16px;
            >ul {
                margin-left: 10px;
                li {
                    font-size: 14px;
                }
            }
            a {
                padding: 15px 30px;
                display: block;
                color: rgba(255, 255, 255, .6);
                border-bottom: 1px solid rgba(255, 255, 255, .05);
                span {
                    &.notif {
                        position: relative;
                        small {
                            position: absolute;
                            top: -3px;
                            bottom: 0;
                            right: -3px;
                            width: 12px;
                            height: 12px;
                            content: '';
                            background: red;
                            border-radius: 50%;
                            font-family: $font-primary;
                            font-size: 8px;
                        }
                    }
                }
                &:hover {
                    color: $white;
                    background: $primary;
                    border-bottom: 1px solid $primary;
                }
            }
            &.active {
                >a {
                    background: transparent;
                    color: $white;
                    &:hover {
                        background: $primary;
                        border-bottom: 1px solid $primary;
                    }
                }
            }
        }
    }
    // @include media-breakpoint-down(md) {
    //     margin-left: -300px;
    //     &.active {
    //         margin-left: 0;
    //     }
    //     .custom-menu {
    //         margin-right: -60px !important;
    //         top: 10px !important;
    //     }
    // }
    // .custom-menu {
    // display: inline-block;
    // position: absolute;
    // top: 20px;
    // right: 0;
    // margin-right: -35px;
    // @include transition(.3s);
    // .btn {
    //     &.btn-primary {
    //         background: $primary;
    //         border-color: transparent;
    //         position: relative;
    //         color: $black;
    //         width: 30px;
    //         height: 30px;
    //         &:after,
    //         &:before {
    //             position: absolute;
    //             top: 2px;
    //             left: 0;
    //             right: 0;
    //             bottom: 0;
    //             font-family: "FontAwesome";
    //             color: $white;
    //         }
    //         &:after {
    //             content: "\f053";
    //             right: 2px;
    //         }
    //     }
    // }
    // }
}

.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
    &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: $black;
        opacity: .3;
    }
    .user-logo {
        .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        h3 {
            color: $white;
            font-size: 18px;
        }
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

// #sidebarCollapse {
//     span {
//         @include media-breakpoint-down(md) {
//             display: none;
//         }
//     }
// }
