html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Coiny', cursive; */
    box-sizing: border-box;
}

header {
    margin-bottom: 45px;
    height: 100%;
}

.carousel {
    top: 76px !important;
}

header .carousel-inner .carousel-item {
    text-align: center;
    height: 60vh;
}

header .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.carousel-caption {
    padding: 3em 0;
}

.carousel-caption h2 {
    text-transform: uppercase;
}

.carousel-control-prev {
    background-image: none;
}

.carousel-control-next {
    background-image: none;
}

.dmenu:hover>.sm-menu {
    display: block;
}


/* News Card */

#news .card img {
    height: 150px;
    width: 100%;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}


/*
.card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
} */

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}


/* End News card */


/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}


/* Footer end */

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    /* .carousel-caption {
        font-size: 1rem;

    }
    .carousel-caption h3 {
        font-size: 1em;
    } */
}


/* remove the dotted outline on focus from everything */

:focus {
    outline: none !important;
}
